@import "tailwindcss";

:root {
  --primary-color: #1A365D;
  --secondary-color: #4ECDC4;
  --accent-color: #F9A825;
  --background-color: #FFFAF0;
  --text-color: #333333;
  background-color: var(--background-color);
}



.bg-primary {
  background-color: var(--primary-color);
}

.color-primary {
  color: #1A365D;

}

.bg-secondary {
  background-color: var(--secondary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-accent {
  color: var(--accent-color);
}

.color-background {
  background-color: var(--background-color);
}

.color-text {
  color: var(--text-color);
}

/*Fonturi pentru citate*/

.libre-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

/*fonturi pentru platforma*/

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*fonturi pentru titluri*/
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}